.background {
    width: 100vw;
    height: 100vh;
}

.background::after {
    content: "";
    background-image: url("../images/filmgrain.png");
    height: 300%;
    width: 300%;
    opacity: 0.02;
    position: fixed;
    animation: grain 8s steps(10) infinite;
    left: -50%;
    top: -100%;
    pointer-events: none;
}

.outline {
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    border: 1px solid grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.extraStars {
    position: relative;
    left: 2000px;
    opacity: 0;
}

.logo {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 50px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 1s;
    animation: fadeIn 1s forwards;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #fff;
    width: 530px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.5s;
}

.sectionContainer a {
    color: #fff;
    text-decoration: none;
}

.sectionTitle {
    width: 200px;
    font-size: 18px;
    border-bottom: 1px solid grey;
}

.sectionText {
    margin-top: 35px;
    font-weight: 1;
    font-size: 32px;
    margin-right: 50px;
}

.sectionSubtext {
    margin: 0 50px 4px;
}

@media screen and (min-width: 2000px) {
    .extraStars {
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    .sectionText {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .sectionText {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .nav {
        margin-left: 12vw;
    }

    .sectionTitle {
        width: 155px;
    }

    .sectionText{
        margin-right: 5px;
    }

    .sectionSubtext {
        margin: 0 5px 4px;
    }
}

@media screen and (max-width: 800px) {
    .outline {
        width: calc(85vw + 20px);
        height: calc(101.5vh - 15vw);
    }

    .entryText {
        font-size: 5vw;
        width: 70vw;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        width: 40px;
        right: -31px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 25%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}
