.background {
    width: 100vw;
    height: 100vh;
}

.background::after {
    content: "";
    background-image: url("../images/filmgrain.png");
    height: 300%;
    width: 300%;
    opacity: 0.02;
    position: fixed;
    animation: grain 8s steps(10) infinite;
    left: -50%;
    top: -100%;
    pointer-events: none;
}

.outline {
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    border: 1px solid grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.extraStars {
    position: relative;
    left: 2000px;
    opacity: 0;
}

.title {
    color: #fff;
    font-size: 35px;
    margin: 50px 0 0 60px;
    transition: all 1s;
}

.title>* {
    animation: crt 3s ease infinite;
    mix-blend-mode: difference;
}

.r {
    color: #f00;
    left: -0.5px;
}

.g {
    margin-top: -1em;
    color: #0f0;
    animation-delay: -0.5s;
}

.b {
    margin-top: -1em;
    color: #00f;
    animation-delay: -0.33s;
    left: 0.5px;
}

.subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 1;
    margin-left: 60px;
    transition: all 1s;
}

.logo {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 50px;
    transition: opacity 0.25s;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 1s;
}

.nav {
    margin: 60px 0 0 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100px;
    transition: all 1s;
}

.navItem {
    margin-left: -18px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    align-self: flex-start;
    height: 17px;
    transition: color 0.5s;
}

.navItem:hover {
    color: rgb(252, 244, 165);
}

.navItemActive {
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start;
    height: 17px;
    transition: color 0.5s;
    color: rgb(252, 244, 165);
    margin-left: -18px;
}

.selector {
    margin-right: 10px;
    transition: opacity 0.5s;
}

.summary {
    color: #fff;
    width: 120px;
    line-height: 20px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transition: opacity 0.5s;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    width: 580px;
    position: absolute;
    top: 80px;
    right: 0;
    transition: all 0.5s;
}

.sectionTitle {
    width: 200px;
    font-size: 18px;
    border-bottom: 1px solid grey;
    transition: all 1s;
}

.educationText {
    margin-top: 35px;
    font-weight: 1;
    font-size: 32px;
    margin-right: 50px;
    transition: all 1s;
}

.educationSubtext {
    margin: 0 50px 4px;
    transition: all 1s;
}

.jmLinuxContainer {
    position: absolute;
    bottom: 50px;
    left: 60px;
    color: #fff;
    line-height: 20px;
}

.input {
    border: none;
    background: transparent;
    color: rgb(252, 244, 165);
    font-family: Inconsolata;
    font-weight: bolder;
    outline: none;
    font-size: 16px;
}

.input::selection {
    color: black;
    background: rgb(252, 244, 165);
}

.helpInactive {
    position: absolute;
    bottom: 120px;
    left: 60px;
    font-weight: bolder;
    color: #fff;
    opacity: 0;
}

.helpInactive span {
    color: black;
    background: rgb(252, 244, 165);
}

.helpInactive li {
    list-style-type: square;
    margin: 5px 0;
}

.helpInactive ul {
    margin: 10px 0 20px;
    padding: 0 0 0 16px;
}

.helpActive {
    position: absolute;
    bottom: 120px;
    left: 60px;
    font-weight: bolder;
    color: #fff;
    opacity: 1;
}

.helpActive span {
    color: black;
    background: rgb(252, 244, 165);
}

.helpActive li {
    list-style-type: square;
    margin: 5px 0;
}

.helpActive ul {
    margin: 10px 0 20px;
    padding: 0 0 0 16px;
}

.allCommands li {
    list-style-position: inside;
    list-style-type: none;
}

.allCommands span {
    background-color: transparent;
    color: rgb(252, 244, 165);
}

.skillOutline {
    max-width: 300px;
    width: 30vw;
    min-width: 210px;
    height: 7px;
    margin: 35px 50px 7px 0;
    outline: 1px solid grey;
    outline-offset: 3px;
    transition: margin 1s;
}

.skillBar {
    background-color: rgb(230, 230, 230);
    height: 100%;
}

.skillSubtext {
    margin: 0 50px 4px;
    color: rgb(252, 244, 165);
    transition: margin 1s;
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: calc(35px + 1vw);
    }
}

@media screen and (min-width: 2000px) {
    .extraStars {
        opacity: 1;
    }
}

@media screen and (max-width: 1100px) {
    .educationText {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .educationText {
        font-size: 20px;
    }
}

@media screen and (max-width: 870px) {
    .sectionContainer {
        top: 330px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        margin-left: 12vw;
    }

    .subtitle {
        margin-left: 12vw;
    }

    .nav {
        margin-left: 12vw;
    }

    .sectionTitle {
        width: 155px;
    }

    .educationText{
        margin-right: 5px;
    }

    .educationSubtext {
        margin: 0 5px 4px;
    }

    .skillOutline {
        margin: 35px 10px 7px 0;
    }

    .skillSubtext {
        margin: 0 9px 4px;
    }
}

@media screen and (max-width: 800px) {
    .outline {
        width: calc(85vw + 20px);
        height: calc(101.5vh - 15vw);
    }

    .entryText {
        font-size: 5vw;
        width: 70vw;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        width: 40px;
        right: -31px;
    }
}

@keyframes crt {

    0%,
    100% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 25%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}