.container_b1_brown {
    position: relative;
    display: inline-block;
    top: 64px;
    left: 15px;
    height: 80%;
    width: 40px;
    background: rgb(121, 71, 70);
    background: linear-gradient(90deg, rgba(121, 71, 70, 1) 10%, rgba(177, 111, 113, 1) 25%,
            rgba(186, 131, 134, 1) 60%, rgba(179, 109, 109, 1) 80%, rgba(141, 85, 84, 1) 90%);
}

.container_b1_green {
    position: relative;
    display: inline-block;
    top: 64px;
    left: 15px;
    height: 80%;
    width: 40px;
    background: rgb(106, 122, 112);
    background: linear-gradient(90deg, rgba(106, 122, 112, 1) 10%, rgba(126, 141, 134, 1) 25%, rgba(139, 155, 145, 1) 60%,
            rgba(121, 142, 133, 1) 80%, rgba(100, 114, 101, 1) 90%);
}

.container_b1_blue {
    position: relative;
    display: inline-block;
    top: 64px;
    left: 15px;
    height: 80%;
    width: 40px;
    background: rgb(143, 132, 140);
    background: linear-gradient(90deg, rgba(143, 132, 140, 1) 10%, rgba(171, 177, 201, 1) 25%, rgba(177, 187, 222, 1) 60%,
            rgba(172, 177, 219, 1) 80%, rgba(142, 139, 158, 1) 90%);
}

.bigStripe_b1 {
    position: relative;
    background: rgb(200, 149, 22);
    background: linear-gradient(90deg, rgba(200, 149, 22, 1) 10%, rgba(249, 181, 18, 1) 25%,
            rgba(250, 192, 58, 1) 60%, rgba(255, 182, 15, 1) 80%, rgba(200, 140, 18, 1) 90%);
    width: 100%;
    height: 12px;
}

.middleStripe_b1 {
    position: relative;
    background: rgb(200, 149, 22);
    background: linear-gradient(90deg, rgba(200, 149, 22, 1) 10%, rgba(249, 181, 18, 1) 25%,
            rgba(250, 192, 58, 1) 60%, rgba(255, 182, 15, 1) 80%, rgba(200, 140, 18, 1) 90%);
    width: 80%;
    height: 3px;
    margin: 0 auto;
}

.smallStripe_b1 {
    position: relative;
    background: rgb(200, 149, 22);
    background: linear-gradient(90deg, rgba(200, 149, 22, 1) 10%, rgba(249, 181, 18, 1) 25%,
            rgba(250, 192, 58, 1) 60%, rgba(255, 182, 15, 1) 80%, rgba(200, 140, 18, 1) 90%);
    width: 100%;
    height: 5px;
}

.diamond_b1 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: relative;
    background: rgb(200, 149, 22);
    background: linear-gradient(90deg, rgba(200, 149, 22, 1) 10%, rgba(249, 181, 18, 1) 25%,
            rgba(250, 192, 58, 1) 60%, rgba(255, 182, 15, 1) 80%, rgba(200, 140, 18, 1) 90%);
    width: 60%;
    height: 15px;
    margin: 0 auto;
}