.container_b2 {
    position: relative;
    display: inline-block;
    top: 140px;
    left: 83px;
    height: 70%;
    width: 75px;
    background: rgb(181, 46, 40);
    background: linear-gradient(90deg, rgba(181, 46, 40, 1) 10%, rgba(216, 68, 64, 1) 25%,
            rgba(224, 84, 83, 1) 60%, rgba(217, 59, 50, 1) 80%, rgba(173, 45, 36, 1) 90%);

    transform: rotate(-90deg);
}

.smallStripe_b2 {
    background: rgb(216, 155, 98);
    background: linear-gradient(90deg, rgba(216, 155, 98, 1) 10%, rgba(255, 190, 110, 1) 25%,
            rgba(255, 202, 134, 1) 60%, rgba(241, 131, 56, 1) 80%, rgba(196, 102, 51, 1) 90%);
    width: 100%;
    height: 4px;
    position: relative;
}

.bigStripe_b2 {
    background: rgb(200, 105, 47);
    background: linear-gradient(90deg, rgba(200, 105, 47, 1) 10%, rgba(234, 125, 60, 1) 25%,
            rgba(239, 149, 87, 1) 60%, rgba(242, 130, 58, 1) 80%, rgba(201, 101, 42, 1) 90%);
    width: 100%;
    height: 50px;
    position: relative;
}

.mediumStripe_b2 {
    background: rgb(117, 46, 42);
    background: linear-gradient(90deg, rgba(117, 46, 42, 1) 10%, rgba(133, 58, 52, 1) 25%,
            rgba(156, 83, 77, 1) 60%, rgba(142, 52, 44, 1) 80%, rgba(115, 42, 36, 1) 90%);
    width: 100%;
    height: 30px;
}