body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #0D0D0D;
  font-family: Inconsolata;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Inconsolata;
  src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}